@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
.form-control {
    position: relative;
    margin: 2px 0 4px;
    width: 300px;
}

.form-control input {
    background-color: transparent;
    border: 0;
    border-bottom: 2px rgb(125, 204, 235) solid;
    display: block;
    width: 100%;
    padding: 15px 0;
    font-size: 18px;
    color: rgb(5, 5, 5);
}

.form-control input:focus,
.form-control input:valid {
    outline: 0;
    border-bottom-color: lightblue;
}

.form-control label {
    position: absolute;
    top: 15px;
    left: 0;
    pointer-events: none;
}

.form-control label span {
    display: inline-block;
    font-size: 18px;
    min-width: 5px;
    transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-control input:focus+label span,
.form-control input:valid+label span {
    color: lightblue;
    transform: translateY(-30px);
}